.bar-wrapper {
    
    height:200px;
}

.bar {
    display: inline-block;
    margin:0;
    padding:0;

    width:25px;
    border-radius: 15px;
}

.bar-background {
    height:100%;
    background-color: #ddd;
}

.bar-foreground {
    vertical-align: baseline;
    margin-left: -29px;

    height:50%;
    background-color: green;
}

